.name-form {
  background-color: var(--dark);
  color: var(--white);
}

.name-title {
  margin-bottom: 2rem;
}

.name-label {
  margin-bottom: 1rem;
}

.name-input-box {
  border: 1px solid var(--offwhite);
  border-radius: 0.375rem;
  padding: 0.5rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.name-input {
  background-color: var(--dark);
  color: var(--white);
  border: none;
  border-radius: 0.375rem;
  letter-spacing: 0.6px;
}

.name-input:focus,
.name-input:active {
  background-color: var(--dark);
  color: var(--white);
  box-shadow: none;
  outline: none;
  border-color: var(--offwhite);
}

.name-input::placeholder {
  color: var(--offwhite);
}

.name-submit-button {
  width: fit-content;
  align-self: flex-end;
  height: 2.4rem;
  min-width: 5rem;
  background-color: var(--blue);
}
