.tweet-card {
  background-color: var(--grey);
  border-radius: 0.375rem;
  padding: 1.6rem;
  height: fit-content;
  word-wrap: break-word;
}

.tweet-header {
  color: var(--grey-text);
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tweet-img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.tweet-username {
  word-wrap: break-word;
  flex-wrap: wrap;
  margin: 0;
  /* max-width: 45%; */
}

.tweet-date {
  max-width: 45%;
  text-align: right;
  margin: 0;
}

.tweet-text {
  color: var(--white);
  margin: 0.3rem 0 0;
  white-space: pre-line;
  line-height: 1.4;
  justify-self: flex-end;
}

.tweet-end {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--offwhite);
  text-align: center;
  padding-bottom: 0.6rem;
}

.tweet-spinner {
  justify-self: center;
}
