.login-container {
  min-width: 70%;
  letter-spacing: 0.6px;
}

.login-form {
  background-color: var(--dark);
  color: var(--white);
}

.login-title {
  color: var(--white);
  margin-bottom: 3rem;
}

.email-label,
.password-label {
  margin: 0.5rem 0 0.7rem;
}

.email-input,
.password-input {
  width: 100%;
  min-height: 3rem;
  border: 1px solid var(--offwhite);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  background-color: var(--dark);
  color: var(--white);
  letter-spacing: 0.6px;
  margin-bottom: 1.6rem;
}

.password-input.last {
  margin-bottom: 0.6rem;
}

.email-input:focus,
.email-input:active,
.email-input:focus-visible,
.password-input:focus,
.password-input:active,
.password-input:focus-visible {
  background-color: var(--dark);
  color: var(--white);
  box-shadow: none;
  outline: none;
  border-color: var(--offwhite);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--dark) inset;
  -webkit-box-shadow: 0 0 0 30px var(--dark) inset !important;
  -webkit-text-fill-color: var(--white) !important;
}

.email-input::placeholder,
.password-input::placeholder {
  color: var(--offwhite);
}

.error-wrap {
  min-height: 4rem;
  margin-bottom: 0.8rem;
}

.error-msg {
  text-align: center;
  padding: 0.5rem 1rem;
  width: 100%;
  color: var(--offwhite);
}

.button-text {
  margin: 1rem 0 0.8rem;
  color: var(--offwhite);
}

.login-submit-button {
  width: 70%;
  height: 2.4rem;
  min-width: 45%;
  background-color: var(--blue);
  margin-bottom: 1.5rem;
}

.login-link,
.login-link:visited {
  justify-self: flex-end;
  text-align: left;
  color: (--white);
  width: 40%;
  text-decoration: none;
}

.login-submit-button a,
.login-submit-button a:visited {
  color: var(--white);
  text-decoration: none;
}

.login-link a:hover {
  color: var(--white);
}

.google {
  padding-bottom: 0.12rem;
  margin-right: 0.4rem;
}
